body{
    margin: 0;
}

.header{
    background-color: aqua;
    margin: 0px;
    display: flex;
    padding: 0.5em;
    align-items: center;
    border:1px solid black;
}

.wrapper{
    height: 100vh;
    display: flex;
}

.menu{
    background-color: red;
    width: 15em;
    border: 1px black;
    border:1px solid black;
    border-top: none;

}

.menuItem{
    background-color: aliceblue;
    text-align: center;
    height: 4em;
    padding: 2em; 

    >a{
        text-decoration: none;
    }

    >a:hover{
        color:red;
    }
}


.content{
    background-color: beige;
    width: 100%;
}